.arw_filter__group {
  display: flex;
  justify-content: space-between;
}

.arw_filter__group__column {
  width: 48%;
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.arw_filter__checkbox {
  width: 66px;
}

.arw_filter__button {
  justify-content: flex-end;
}

@media only screen and (max-width: 768px) {
  .arw_filter__secundary {
    display: block;
  }

  .arw_filter__star {
    width: 100%;
  }

  .arw_filter__checkbox {
    width: 40px;
  }

  .arw_filter__button {
    width: 100%;
    display: block;
  }

  .arw_filter__button button {
    width: 100%;
  }
}